{% extends 'base.html.twig' %}

{% block title %}New Appointments{% endblock %}

{% block body %}
    <h1>Create new Appointments</h1>

    {{ include('appointments/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('appointments_index') }}">Liste de Rendez-vous</a>
{% endblock %}
